.bar {
  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px black;
  padding: 5px 15px;
}

.bar:last-of-type {
  border-bottom: none;
}

.bar-attend-button-wrapper {
  width: 100px;
  text-align: center;
  height: 100%;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar-info {
  flex: 1;
  margin-left: 15px;
}

.bar-link, .bar-link:visited, .bar-link:focus {
  color: #F9C4AC;
}

.bar-description {
  color: #FF8F56;
}
