.header {
  text-align: center;
  padding: 2rem 0 2rem 0;

  background: linear-gradient(120deg, #18587a, #fc624d);
}

@media (min-width: 640px) {
  .header {
    padding: 5rem 0 2rem 0;
  }
}

.header-title {
  margin: 0;
  color: #ffd6d6;
}
